* {
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 9, 248);
}

.form {
  width: 65%;
  background-color: #fff;
  height: 30rem;
  margin: 5rem auto;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: rgb(214, 117, 32);
  height: 28rem;
  width: 30%;
  margin-left: 1rem;
  border-radius: .8rem;
  padding: 2rem;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.number {
  height: 2rem;
  width: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-right: 1rem;
}

.number.curr {
  background-color: rgb(248, 9, 248);
  border: none;
  color: rgb(241, 198, 206);
}

.step span {
  color: rgb(248, 9, 248);
  font-size: .7rem;
}

.step p {
  color: #fff;
  font-weight: 500;
  margin-top: 0;
}

.form-container {
  width: 58%;
  margin-left: 6rem;
}

.header h1 {
  margin-bottom: 4rem;
}

.body > form input{
  display: block;
  width: 85%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid rgb(233, 152, 167);
}

.body > form input::placeholder {
  color: rgb(233, 152, 167);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

button {
  margin-top: 5rem;
  border: none;
  cursor: pointer;
  background-color: rgb(233, 152, 167);
  color: #fff;
  width: 5rem;
  height: 2rem;
  border-radius: .3rem;
}

button:hover {
  background-color: transparent;
  color: rgb(233, 152, 167);
  border: 1px solid rgb(233, 152, 167);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  padding: 2rem;
  border-radius: .8rem;
  width: 40%;
  background-color: #fff;
}

.card h1 {
  text-align: center;
}

.card > div {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.card > div span {
  font-weight: 700;
  width: 10rem;
  text-align: center;
}